body{
    background-color: #FFFFFF;
}

#main{
    background-color:#EEEEEE ;
    border-radius: 10px;
    margin: 40px 5px;
    text-align: center;
}

#img-div{
    background-color: #FFFFFF;
    margin: 0 15px;
}